[submodule "source/pictogram-lib"]
	path = source/pictogram-lib
	url = http://cs-cust06-int.cs.aau.dk/git-ro/pictogram-lib
[submodule "source/OasisLib"]
	path = source/OasisLib
	url = http://cs-cust06-int.cs.aau.dk/git-ro/oasis-lib.git
[submodule "pictogram-lib"]
	path = pictogram-lib
	url = http://cs-cust06-int.cs.aau.dk/git/pictogram-lib.git
[submodule "OasisLib"]
	path = OasisLib
	url = http://cs-cust06-int.cs.aau.dk/git/oasis-lib
