<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.aau.cs.giraf.pictocreator"
	xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="24.0.2" />

    <uses-permission
        android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="android.hardware.camera" android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/picto_creator"
        android:label="Piktotegner"
		android:theme="@style/AppTheme"
	    tools:replace="icon,label">
        android:largeHeap="true"
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name="dk.aau.cs.giraf.pictocreator.MainActivity"
            android:theme="@style/GirafTheme">
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="dk.aau.cs.giraf.pictocreator.PrintDialogActivity">
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
    </application>

</manifest>
